@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pointcolor-navy: #1d3557;
  --pointcolor-yellow: #fca311;
}

* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  color: var(--foreground);
  height: 100%;
  width: 100%;
}
